doctype html
html
  head
    link(href='/bootstrap/css/bootstrap.min.css', rel="stylesheet", type="text/css")
    script(src='/jquery/jquery-2.1.1.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/core.js')
    block head
    
  body
    block body
